pkgbase = karere-git
	pkgdesc = A fast, native WhatsApp client for Linux with GTK4/LibAdwaita (v4 CEF build)
	pkgver = 4.2.2.r0.g47610b4
	pkgrel = 1
	url = https://github.com/tobagin/karere
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = rust
	makedepends = meson
	makedepends = ninja
	makedepends = cmake
	makedepends = gcc
	makedepends = patchelf
	makedepends = blueprint-compiler
	makedepends = desktop-file-utils
	makedepends = gettext
	depends = gtk4
	depends = libadwaita
	depends = glib2
	depends = dbus
	depends = nss
	depends = nspr
	depends = alsa-lib
	depends = libpulse
	depends = fontconfig
	depends = expat
	depends = libxkbcommon
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxrandr
	depends = libxcursor
	depends = libxi
	depends = libxss
	depends = libxinerama
	depends = mesa
	depends = libglvnd
	depends = systemd-libs
	depends = at-spi2-core
	provides = karere
	conflicts = karere
	noextract = cef_binary_150.0.10+g8042e43+chromium-150.0.7871.101_linux64_minimal.zip
	options = !lto
	source = karere::git+https://github.com/tobagin/karere.git
	source = cef_binary_150.0.10+g8042e43+chromium-150.0.7871.101_linux64_minimal.zip::https://github.com/tobagin/karere/releases/download/cef-150.0.10-proprietary-codecs/cef_binary_150.0.10%2Bg8042e43%2Bchromium-150.0.7871.101_linux64_minimal.zip
	sha256sums = SKIP
	sha256sums = 3bbe298368c4d87c19ad9b7ed4e8449ea91b32ffa3cefc8672791a1b96c9c3b9

pkgname = karere-git
